[submodule "lib/eigen"]
	path = lib/eigen
	url = git@github.com:PX4/eigen.git
[submodule "lib/fast-cpp-csv-parser"]
	path = lib/fast-cpp-csv-parser
	url = git@github.com:ben-strasser/fast-cpp-csv-parser.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "lib/implot"]
	path = lib/implot
	url = git@github.com:epezent/implot.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = git@github.com:glfw/glfw.git
