#include "windows.h"

// Define both relative and full paths to increase chances of finding the icons
// The compiler will use the first one it finds
IDI_ICON1 ICON "assets/EQNR.ico"
IDI_ICON2 ICON "../assets/EQNR.ico"
IDR_IMAGE1 PNG "assets/EQNR.png"
IDR_IMAGE2 PNG "../assets/EQNR.png"